.signup-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.signup-form h1 {
    text-align: center;
    color: #070707;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.signup-form input[type="password"],
.signup-form input[type="email"],
.signup-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.signup-form input[name="signup"] {
    width: 100%;
    padding: 15px;
    background-color: #2a779b;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
}
.signup-form input[name="login"] {
    width: 100%;
    padding: 15px;
    background-color: #209326;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
}